body {
    margin: 0;
    background-color: #242F51;
}



header {
    text-align: center;
    padding: 25px;
    font-size: 2rem;
}

.navbar {
    background-color:black;
    text-align: center;
    padding: 10px;


}

.box1 {
    font-size: 1.2rem;
    background-color: White;
    width: 1100px;
    height: 120px;
    text-align: center;
    padding: 10px;
    border: 10px solid black;
    margin: 50px 200px

}

.box2 {
    background-color: Black;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid White;
    margin: 0px 250px
    

}

.box3 {
    background-color: white;
    width: 500px;
    height: 150px;
    padding: 10px;
    border: 10px solid black;
    margin: -300px 750px

}


